footer{
   margin-top: 50px;
   position: relative;
   bottom: 0px;
}
footer section{
   padding: 30px;
   background-color: rgb(112, 127, 133);
}
.sosmed{
   display: flex;
   justify-content: center;
}
.sosmed i{
   color: white;
   margin: 10px;
   font-size: 20px;
}
footer p{
   color: white;
   margin: 10px;
   display: flex;
   justify-content: center;
}
.signature{
   position: absolute;
   top: 25%;
   right: 50px;
   -webkit-user-drag: none;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}
.sosmed i:hover{color: #c0ecea;}
@media screen and (min-width:900px){
   .signature{
      width: 120px;
      height: 120px;
   }
}
@media screen and (max-width:900px){
   .signature{
      width: 100px;
      height: 100px;
   }
}
@media screen and (max-width:500px){
   .signature{
      width: 80px;
      height: 80px;
      right: 30px;
   }
}
@media screen and (max-width:350px){
   .signature{
      width: 70px;
      height: 70px;
      right: 20px;
   }
}